<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block th:replace="fragment/config :: configFragment"></th:block>
<title>Employee System</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center">従業員管理</a>
		</div>
	</nav>
	<div class="row">
		<div class="sidebar col s2">
			<table class="centered highlight">
				<tbody>
					<tr>
						<td><a href="#">総務部</a></td>
					</tr>
					<tr>
						<td><a href="#">人事部</a></td>
					</tr>
					<tr>
						<td><a href="#">経理部</a></td>
					</tr>
					<tr>
						<td><a href="#">マーケティング部</a></td>
					</tr>
					<tr>
						<td><a href="#">広報部</a></td>
					</tr>
					<tr>
						<td><a href="#">営業部</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="contents col s6 offset-s2">
			<th:block layout:fragment="content"></th:block>
			<a class="btn-floating btn-large waves-effect waves-light red"><i
				class="material-icons">add</i></a>

			<ul class="pagination">
				<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
				<li class="active"><a href="#!">1</a></li>
				<li class="waves-effect"><a href="#!">2</a></li>
				<li class="waves-effect"><a href="#!">3</a></li>
				<li class="waves-effect"><a href="#!">4</a></li>
				<li class="waves-effect"><a href="#!">5</a></li>
				<li class="waves-effect"><a href="#!"><i
				class="material-icons">chevron_right</i></a></li>
			</ul>
		</div>
		
	</div>
</body>
</html>