@charset "UTF-8";


body {
	max-height: 100vh;
}


.sidebar {
	border-right: solid 0.5px #E0E0E0;
	padding-top: 20px;
	height: 93vh;
}

.sidebar table{
	border-collapse: unset;
	font-size: 0.9rem;
}

table {
	margin-top: 30px;
}

a {
	color: black;
}

.btn-floating {
	display: block;
	margin: 30px 0 0 auto;
	background-color: #E3686D;	
}	

 .pagination {
 	margin-left: 160px ;
 }
 