<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/details_layout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/create.css}" >
    </th:block>
<div layout:fragment="content" th:object="${employeeDetails}">
	  <table>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
        <td style="color:red;" th:text="${error}"></td>
    </tr>
  </table>
  
  
  

	<div class="row">
    <form class="col s12" th:action="@{/employee/create}" th:object="${employeeUpdateRequest}" th:method="post">
    <input type="hidden" th:field="*{id}">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="validate" th:field="*{lastName}">
          <label for="lastName">苗字</label>
        </div>
        <div class="input-field col s6">
          <input type="text" class="validate" th:field="*{firstName}">
          <label for="firstName">名前</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="validate" th:field="*{kanaLastName}">
          <label for="kanaLastName">カナ</label>
        </div>
        <div class="input-field col s6">
          <input type="text" class="validate" th:field="*{kanaFirstName}">
          <label for="kanaFirstName">カナ</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="validate" th:field="*{age}">
          <label for="age">年齢</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" class="validate" th:field="*{phone}">
          <label for="phone">電話番号</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="email" class="validate" th:field="*{email}">
          <label for="email">メールアドレス</label>
        </div>
      </div>
      <input type="submit" value="作成" class="btn">
    </form>
  </div>

    
    
    
</div>
</html>